<ng-container *ngIf="appState$ | async as user">
<section class="main_menu">
    <div class="header">
        <div>
            <picture>
                <img src="assets/images/main-logo.png" alt="">
            </picture>
        </div>
        <ng-container *ngIf="profileStudent$ | async as profileStudent">
            <div class="flex_row_center" style="padding: 0.5rem">
                <div class="profile">{{profileStudent.studentCode}}</div>
                <picture *ngIf="user.isLogin" class="relative_layout">
                    <img class="round_image" src="assets/images/avatar.png" alt="" (click)="isShowMenu = !isShowMenu" (mouseenter)="isShowMenu = true">
                </picture>
                <div class="container_logout" *ngIf="isShowMenu" (mouseleave)="isShowMenu = false">
                    <ul style="padding: 0px;">
                        <li class="mpop_profile">
                            <img class="image_profile" src="/assets/icons/profile.svg" alt="">
                            {{ profileStudent.studentName }}
                        </li>

                        <li class="mpop_logout" (click)="logout()">
                            <img class="image_profile" src="/assets/icons/log-out.svg" alt="">
                            Logout
                        </li>

                    </ul>
                </div>
            </div>
        </ng-container>
    </div>
    <div class="sec_bg_color">
        <div class="container_menu">
    <div class="relative_layout">
            <div>
                <ul class="menu" style="display: flex;flex-flow: wrap;">
                    <li [routerLink]="['/rsu/home']" routerLinkActive="router-link-active">หน้าหลัก</li>
                    <li *ngIf="!user.isLogin" [routerLink]="['/login']" routerLinkActive="router-link-active">เข้าสู่ระบบ</li>
                    <li [routerLink]="['/rsu/register']" routerLinkActive="router-link-active" *ngIf="user.menus[0]?.visible ">ลงทะเบียนล่วงหน้า</li>
                    <li [routerLink]="['/rsu/managesubject']" routerLinkActive="router-link-active" *ngIf="user.menus[2]?.visible ">เพิ่ม - ถอน</li>
                    <li [routerLink]="['/rsu/late']" routerLinkActive="router-link-active" *ngIf="user.menus[1]?.visible ">ลงทะเบียนล่าช้า</li>    
                    <li [routerLink]="['/rsu/optionslip']" routerLinkActive="router-link-active" *ngIf="isStudent && user.isLogin">ชำระเงิน</li>    
                    <li [routerLink]="['/rsu/select-student']" routerLinkActive="router-link-active" *ngIf="!isStudent && user.isLogin">เลือกนักเรียน</li>
                </ul>
                <!-- || user.menus.length != 0 -->
            </div>
            <ng-container *ngIf="topic$ | async as data">
                <div class="topic">
                    {{data.topic}}
                </div>
                <div class="sub_topic">
                    {{data.sub_topic}}
                </div>
            </ng-container>
            <div class="title_menu">
            <br id="space">
            </div>
            <ng-container *ngIf="profileStudent$ | async as profileStudent">            
                <div class="card_profile" *ngIf="user.isLogin">
                    <table> 
                        <tbody>
                            <tr class="topic_student">
                                <td width="10%">รหัสนิสิต</td>
                                <td width="40%">ชื่อ</td>
                                <td>ระดับการศึกษา</td>
                                <td>สาขา</td>
                                <td>สถานะ</td>
                            </tr>
                            <tr class="detail_student">
                                <td width="10%">{{profileStudent.studentCode}}</td>
                                <td width="40%">{{profileStudent.studentName}}</td>
                                <td>{{profileStudent.educationTypeName}}</td>
                                <td>{{profileStudent.majorName}}</td>
                                <td>{{profileStudent.statusName}}</td>
                            </tr>
                        </tbody>    
                    </table>
            </div>
        </ng-container>
        </div>
        </div>
    </div>
</section>
</ng-container>