.router-link-active {
    border-bottom: 1px solid white;
}
ul li {
    cursor: pointer;
}

.container_menu {
    display: flex;
    flex-flow: column;
    max-width: 1024px;
    margin: 0 auto;
}


.profile {
    display: block;
    float: right;
    margin-right: 15px;
    line-height: 60px;
    font-weight: bold;
    font-size: 20px;
    color: white;
}


.title_menu {
    padding-bottom: 5px;
}

.round_image {
    border-radius: 100%;
}

// .profile:hover .container_logout {
//     display: block;
//     top: 100px;
// }

.container_logout {
    display: block;
    position: absolute;
    z-index: 10;
    width: 200px;
    right: 5px;
    top: 60px;
    text-align: left;
    color: #000;
    background-color: #FFF;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-sizing: border-box;
    border: #ececec 1px solid;
}

.mpop_logout {
    position: relative;
    display: block;
    padding: 5px 5px 5px 30px;
    margin-bottom: 3px;
    line-height: 20px;
    cursor: pointer;
    border-bottom: var(--primary_color) 2px solid;
}

.mpop_profile {
    position: relative;
    display: block;
    padding: 5px 5px 5px 30px;
    margin-bottom: 3px;
    font-size: 0.9em;
    line-height: 20px;
    border-bottom: var(--primary_color) 2px solid;
}

.image_profile {    
    position: absolute;
    left: 5px;
    top: 4px;
    color: var(--primary_color);
}



.container_logout ul li:last-child {
    border-bottom: none;
}


.main_menu {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.menu > li {
    color: white;
    display: inline-block;
    font-size: 20px;
    line-height: 35px;
    padding: 5px;
} 

.header {
    // padding: 0.5rem;
    padding-bottom: 0px;
    background-color: var(--primary_color);    
    display: flex;
    justify-content: space-between;
}

.menu {
    margin-top: 5px;
    padding: 0;
    list-style: none;
    display: flex;
    // justify-content: center;
}

.card_profile{
    position: absolute;
    display: block;
    width: 100%;
    height: 50px;
    background-color: #FFF;
    border-radius: 10px;
    padding: 10px;
    left: 0;
    bottom: -25%;
    box-shadow: 2px 3px 3px #cecece;
}

.sec_bg_color{
    background-color: var(--sec_color);
}

.topic {
    color: #efefef;
    display: block;
    font-size: 24px;
    font-weight: bold;
}

.sub_topic {
    font-size: 18px;
    color: #efefef;
}

table {
    width: 100%;
}

.topic_student > tr {
    font-size: 0.9em;
}

.detail_student > td  {
    font-size: 0.9em;
    color: #888;
}

@media only screen and (max-width: 600px) {
    .container_menu {
        // align-items: center;
        padding: 0 15px;
    }
    .menu > li {
        font-size: 16px;
    }
    .topic {
        font-size: 22px;
    }
    .sub_topic {
        font-size: 18px;
    }

    .card_profile {
        display: none;
        // padding: 1px;
    }
    #space {
        display: none;
    } 
  }