<div class="container_dialog" id="dynamicmodal">
    <div class="dialog_header">
        <label >{{ header }}</label>
        <div class="close_btn" (click)="closePopUp()">x</div>
    </div>
    <div class="dialog_content">
        <div class="table_layout"  style="overflow-x: scroll;height: 60vh;">        
            <!-- *ngIf="searchResult$ | async as searchResult" -->
        <ng-container *ngIf="searchResult">
        <!-- template -->
        <ng-template [ngIf]="searchResult.isSpecialTopic == 'Y' ">  
            <ng-container *ngTemplateOutlet="availableMergeTopics"></ng-container>      
            <ng-container *ngTemplateOutlet="availableLectureGroups"></ng-container>
                <br>
            <ng-container *ngTemplateOutlet="availableLabGroups"></ng-container>
        </ng-template>

        <ng-template [ngIf]="searchResult.isSpecialTopic != 'Y' ">        
            <ng-container *ngTemplateOutlet="availableLectureGroups"></ng-container>
                <br>
            <ng-container *ngTemplateOutlet="availableLabGroups"></ng-container>
            <ng-container *ngTemplateOutlet="availableTopics"></ng-container>
        </ng-template>
        <!-- template -->

        <ng-template #availableLectureGroups>
            <ng-container *ngIf="searchResult.availableLectureGroups?.length" >             
            <div [hidden]="searchResult.isSpecialTopic == 'Y'">
            <div>
            LectureGroups
            </div>
                <div class="body">                
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="text_center align_middle" style="width: 60px;">เลือก</th>
                            <th class="text_center align_middle hide_table" style="width: 60px;">ลำดับ</th>
                            <th class="text_center align_middle" style="width: 110px;">เซค</th>
                            <th class="text_left align_middle hide_table" style="width: 70px;"> จำนวนที่นั่ง</th>
                            <th class="text_center align_middle hide_table" style="width: 70px;">ยื่นยันที่นั่ง</th>
                            <th class="text_center align_middle hide_table" style="width: 90px;">ที่นั่งที่จอง</th>
                            <th class="text_center align_middle responsive_table" style="width: 90px;">ที่นั่งที่จอง/จำนวนที่นั่ง</th>
                            <th class="text_center align_middle" style="width: 90px;">วันที่เรียน</th>                            
                            <!-- <th class="text_center align_middle" style="width: 90px;">เวลาเริ่มเรียน</th>
                            <th class="text_center align_middle" style="width: 90px;">เวลาเลิกเรียน</th> -->
                        </tr>
                    </thead>
                    <tbody >
                        <tr (click)="clickLectureGroups(radio,subject)" *ngFor="let subject of searchResult.availableLectureGroups;let index = index" 
                                [ngStyle]="{'background-color': subject.isFull ? 'rgba(255, 127, 80, 0.5)' : null}" 
                                [ngClass]="handleIsSpecialTop(searchResult)"
                            >
                            <td class="text_center" >
                                    <input type="radio" 
                                        #radio
                                        name="lecturegroups"
                                        [id]="subject.topicCode"
                                        [disabled]="searchResult.isSpecialTopic == 'Y'"
                                        (change)="selectLectureGroups($event.target.checked,subject)">
                            </td>
                            <td class="text_center hide_table" >{{ index + 1}}</td>
                            <td class="text_center">{{ subject.sectionId }}</td>
                            <td class="text_left hide_table">{{ subject.quota }}</td>
                            <td class="text_center hide_table">{{ subject.confirmSeat}}</td>
                            <td class="text_center hide_table">{{ subject.reserveSeat}}</td>
                            <th class="text_center responsive_table" style="width: 90px;border-top: 1px solid #dee2e6;">{{ subject.confirmSeat + subject.reserveSeat }}/{{subject.quota}}</th>
                            <!-- <td class="text_center"><span class="rsu_badge rsu_badge-ssuccess">{{subject.studyDay}}</span></td>                             -->
                            <td class="text_center">
                                <ng-container *ngIf="subject.studyTime">
                                        <div *ngFor="let studytime of subject.studyTime.split(',') ">
                                            {{ studytime }}
                                        </div>
                                </ng-container>                                                                                          
                                 <ng-container *ngIf="!subject.studyTime">
                                    -
                                 </ng-container>                                                                      
                            </td>
                            
                            <!-- <td class="text_center">{{ subject.studyEndTime }}</td> -->
                            <!-- <td class="text_center"><span  class="delete_icon" (click)="deleteSubject(subject.getRawValue())">x</span></td>                         -->
                        </tr>
                    </tbody>
                </table>
                </div>
            </div>
            </ng-container>
        </ng-template>           
        <ng-template #availableLabGroups>
            <ng-container *ngIf="searchResult.availableLabGroups?.length">
        LabGroups
        <div class="body" >
            <table class="table table-sm" >
                <thead>
                    <tr>
                        <th class="text_center align_middle" style="width: 60px;">เลือก</th>
                        <th class="text_center align_middle hide_table" style="width: 60px;">ลำดับ</th>
                        <th class="text_center align_middle" style="width: 110px;">เซค</th>
                        <th class="text_left align_middle hide_table" style="width: 70px;"> จำนวนที่นั่ง</th>
                        <th class="text_center align_middle hide_table" style="width: 70px;">ยื่นยันที่นั่ง</th>                        
                        <th class="text_center align_middle hide_table" style="width: 90px;">ที่นั่งที่จอง</th>
                        <th class="text_center align_middle responsive_table" style="width: 90px;">ที่นั่งที่จอง/จำนวนที่นั่ง</th>
                        <th class="text_center align_middle" style="width: 90px;">วันที่เรียน</th>
                        <!-- <th class="text_center align_middle" style="width: 90px;">เวลาเริ่มเรียน</th>
                        <th class="text_center align_middle" style="width: 90px;">เวลาเลิกเรียน</th> -->
                    </tr>
                </thead>
                <tbody>
                    <tr (click)="clickselectLap(lap,subject)" *ngFor="let subject of searchResult.availableLabGroups;let index = index" [ngStyle]="{'background-color': subject.isFull ? 'rgba(255, 127, 80, 0.5)' : null}">
                        <td class="text_center">
                                <input type="radio"                                    
                                    name="labgroups"
                                    #lap
                                    (change)="selectLap($event.target.checked,subject)">
                        </td>
                        <td class="text_center hide_table" >{{ index + 1}}</td>
                        <td class="text_center">{{ subject.sectionId }}</td>
                        <td class="text_left hide_table">{{ subject.quota }}</td>
                        <td class="text_center hide_table">{{ subject.confirmSeat}}</td>
                        <td class="text_center hide_table">{{ subject.reserveSeat}}</td>
                        <th class="text_center responsive_table" style="width: 90px;">{{ subject.confirmSeat + subject.reserveSeat }}/{{subject.quota}}</th>
                        <!-- <td class="text_center"><span class="rsu_badge rsu_badge-ssuccess">{{subject.studyDay}}</span></td>                        
                        <td class="text_center">{{ subject.studyStartTime }}</td>  
                        <td class="text_center">{{ subject.studyEndTime }}</td>                         -->
                        <td class="text_center">
                            <ng-container *ngIf="subject.studyTime">                            
                                <div *ngFor="let studytime of subject.studyTime.split(',')">
                                    {{ studytime }}
                                </div>
                            </ng-container>
                            <ng-container *ngIf="!subject.studyTime">
                                -
                            </ng-container>
                        </td>  
                    </tr>
                </tbody>
            </table>
            </div>
        <br> 
            </ng-container>
        </ng-template>     
        <ng-template #availableTopics>
            <ng-container *ngIf="searchResult.availableTopics?.length">
            Topics
            <div class="body">
            <table class="table table-sm" >                
                <thead>
                    <tr>
                        <th class="text_center align_middle" style="width: 60px;">เลือก</th>
                        <th class="text_center align_middle" style="width: 60px;">ลำดับ</th>
                        <th class="text_center align_middle" style="width: 110px;">ชื่อ</th>
                        <th class="text_left align_middle" style="width: 70px;">หน่วยกิจ</th>
                    </tr>
                </thead>
                <tbody >                    
                    <tr (click)="clickSelectTopic(topic,subject)" *ngFor="let subject of searchResult.availableTopics;let index = index" [ngStyle]="{'background-color': subject.isFull ? 'rgba(255, 127, 80, 0.5)' : null}">
                        <td class="text_center">
                            <input type="radio"  name="topic"
                            #topic
                            (change)="selectTopic($event.target.checked,subject)">
                        </td>
                        <td class="text_center" >{{ index + 1}}</td>
                        <td class="text_center">{{ subject.topicName }}</td>
                        <td class="text_left">{{ subject.topicCredit }}</td>
                    </tr>
                </tbody>
            </table>
            </div>
            </ng-container>
        </ng-template>
        <ng-template #availableMergeTopics>
            <ng-container *ngIf="searchResult.availableTopics?.length">
            Topics
            <div class="body">
            <table class="table table-sm" >                
                <thead>
                    <tr>
                        <th class="text_center align_middle" style="width: 60px;">เลือก</th>
                        <th class="text_center align_middle" style="width: 60px;">ลำดับ</th>
                        <th class="text_center align_middle" style="width: 110px;">ชื่อ</th>
                        <th class="text_center align_middle" style="width: 70px;">หน่วยกิจ</th>
                        <th class="text_center align_middle" style="width: 70px;">กลุ่มเรียน</th>
                        <th class="text_center align_middle" style="width: 70px;">จำนวนที่นั่ง</th>
                        <th class="text_center align_middle" style="width: 70px;">ยื่นยันที่นั่ง</th>
                        <th class="text_center align_middle" style="width: 70px;">ที่นั่งที่จอง</th>
                        <th class="text_center align_middle" style="width: 70px;">วันที่เรียน</th>
                    </tr>
                </thead>
                <tbody >                    
                    <tr (click)="clickSelectTopic(topic,subject)" *ngFor="let subject of searchResult.availableTopics;let index = index" [ngStyle]="{'background-color': subject.isFull ? 'rgba(255, 127, 80, 0.5)' : null}">
                        <td class="text_center">
                            <input type="radio"  name="topic"
                            #topic
                            (change)="selectTopic($event.target.checked,subject)">
                        </td>
                        <td class="text_center" >{{ index + 1}}</td>
                        <td class="text_center">{{ subject.topicName }}</td>
                        <td class="text_center">{{ subject.topicCredit }}</td>
                        <td class="text_center">{{ subject.sectionId }}</td>
                        <td class="text_center hide_table">{{ subject.quota }}</td>
                        <td class="text_center hide_table">{{ subject.confirmSeat}}</td>
                        <td class="text_center hide_table">{{ subject.reserveSeat}}</td>
                        <th class="text_center responsive_table" style="width: 90px;border-top: 1px solid #dee2e6;">{{ subject.confirmSeat + subject.reserveSeat }}/{{subject.quota}}</th>
                        <td class="text_center">
                            <ng-container *ngIf="subject.studyTime">
                                    <div *ngFor="let studytime of subject.studyTime.split(',')">
                                        {{ studytime }}
                                    </div>
                            </ng-container>
                            <ng-container *ngIf="!subject.studyTime">
                                -
                            </ng-container>
                        </td>
                    </tr>
                </tbody>
            </table>
            </div>
            </ng-container>
        </ng-template>
        </ng-container>   
        </div>
        <div class="btn_save_layout">
        <div class="relative_layout" style="padding-right: 5px;">
             
            <button class="button"  [disabled]=" (countSelectSubject.length != condition.length)" (click)="selectSubject()">
                บันทึก
                <div class="input_icon">
                        <img src="/assets/icons/save.svg" alt="">                
                    </div>
            </button>
            
        </div>
        
        </div>
        <!-- <pre>{{ request | json}}</pre>  -->
    <!-- </form> -->
    </div>
    
</div>