.special_topic {
    cursor: not-allowed;
    
    &:active {
        pointer-events: none;
    }
}



.container_dialog {
    position: fixed;
    display: none;
    z-index: 200;
    top: 5%;
    left: 5%;
    width: 90vw;
    height: auto;
    background: white;    
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
}

.dialog_header {
    color: white;
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;    
    background-color: var(--primary_color);
}

.close_btn {
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 1rem;
    color: black;
    cursor: pointer;
    
}

.dialog_content {
    padding: 1rem;
}

 table tbody tr:hover {
    cursor: pointer;
    background-color: #eaeaea;
}

.button {
    position: relative;
    background-color: #00BCD4;
    color: #FFF;
    font-size: 0.8em;
    height: 29px;
    line-height: 29px;
    padding: 0px 10px 0px 25px;
    border-radius: .25rem;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.hide_table {
    
}

.responsive_table {
    display: none;
}



@media only screen and (max-width: 400px) { 
    .hide_table {
        display: none;
    }

    .responsive_table {
        display: block;
    }

    td > .responsive_table {
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    
    .dialog_header label {
        font-size: 16px;
    }
    
}

