<div class="topic_container">
    <!-- topic -->
    <div class="topic_header_item">
        <div class="topic_item">ปีการศึกษา {{form.get('academicYear').value}}/{{form.get('academicSemester').value}}</div>
        <div class="sub_topicfirst">รวมจำนวน {{ totalCredit }} หน่วยกิต</div>
        <!-- <div class="sub_topicfirst">รวมจำนวนเงินที่ต้องจ่าย {{ totalPayamount | number }} บาท</div> -->
        <div class="sub_topicfirst">max:{{form.get('maxCredit').value}} min:{{form.get('minCredit').value}}</div>
    </div>
    <!-- search -->
    <div class="search_layout">
            <div class="search_title">ค้นหาและเพิ่มรหัสวิชา</div>
                <div class="form_search relative_layout">
                    <input (input)="upperCase()"
                    [ngStyle]="{'cursor': isReadOnly ? 'not-allowed' :'unset'}" 
                    type="text" [disabled]="isReadOnly" #search placeholder="รหัสวิชา เช่น EA123">
                    <div class="input_icon">
                        <img src="/assets/icons/input-search.svg" alt="">                
                    </div>
                </div>
                &nbsp;
                <!-- [disabled]="isReadOnly" -->
                <div class="relative_layout" style="display: inline;">
                    <button class="search_button relative_layout" [disabled]="isReadOnly" type="button" (click)="searchSubject()">
                        ค้นหา
                        <div class="input_icon">
                                <img src="/assets/icons/search.svg" alt="">                
                            </div>
                    </button>
                </div>          
    </div>    
</div>