.topic_header_item {
    font-size: 18px;
}

.topic_item {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    height: 25px;
}

.sub_topicfirst {
    font-size: 18px;
}
.button {
    position: relative;
    background-color: #00BCD4;
    color: #FFF;
    font-size: 0.8em;
    height: 29px;
    line-height: 29px;
    padding: 0px 10px 0px 25px;
    border-radius: .25rem;

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }
}

.delete_icon {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 15px;
    height: 15px;
    // background-color: var(--sec_color); 
    background-color: red;
    cursor: pointer;   
}

