.container_dialog {
    position: fixed;
    display: none;
    z-index: 200;
    top: 5%;
    left: 5%;
    width: 90vw;
    height: 94%;
    background: white;    
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    overflow: scroll
}

.container_dialog::-webkit-scrollbar {
    display: none;
}
  
  /* Hide scrollbar for IE and Edge */
.container_dialog {
    -ms-overflow-style: none;
}

.dialog_header {
    color: white;
    font-size: 2rem;
    padding: 1rem;
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    height: 50px;    
    background-color: var(--primary_color);
}

.close_btn {
    background-color: white;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    margin: 1rem;
    color: black;
    cursor: pointer;
}

.dialog_content {
    padding: 1rem;
}

.image_payment {
    max-width: 80px ;
    max-height: 80px ;
    min-width: 80px ;
    min-height: 80px ;
}

.payment_text {
    font-size: 1.5rem;
}
.sub_payment_text {
    font-size: 1rem;
}

.button {
    position: relative;
    background-color: #00BCD4;
    color: #FFF;
    font-size: 0.8em;
    height: 29px;
    line-height: 29px;
    padding: 0px 10px 0px 25px;
    border-radius: .25rem;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.container_payment {
    justify-content: space-evenly;
    flex-wrap: wrap;
    height: 90%;
    overflow: scroll;
}


.card {
    display: flex;
    flex-flow: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 5px;
    padding: 5px;
    flex-flow: row;
    align-items: center;
    padding: 5px;
    flex: 1 0 80%;
    justify-content: space-between;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    @media only screen and (max-width: 400px) { 
        flex-flow: row;
        align-items: center;
        padding: 5px;
        flex: 1 0 90%;
        justify-content: space-between;
    }

    @media only screen and (max-width: 600px) { 
        flex-flow: row;
        align-items: center;
        padding: 5px;
        flex: 1 0 90%;
        justify-content: space-between;        
    }

}

.ripple {
    background-position: center;
    transition: background 0.8s;
  }

  .ripple:hover {
    background: white radial-gradient(circle, transparent 1%, white 1%) center/15000%;
  }

  .ripple:active {
    background-color: gray;
    background-size: 100%;
    transition: background 0s;
  }


  

@media only screen and (max-width: 600px) { 
    .image_payment {
        width: 80px;
    }
}

@media only screen and (max-width: 400px) { 
    
    .image_payment {
        width: 70px;
        height: 70px;
    }

    .payment_text {
        font-size: 16px;
    }
}



