<div class="container_dialog" id="modal">
    <div class="dialog_header">
        Payment
        <div class="close_btn" (click)="closePopUp()">x</div>
    </div>
    <div class="dialog_content">
        <ng-container *ngIf="paymentPrecheck.enrollmentSummary.totalPaymentAmount != 0">
        <p class="payment_text">จำนวนเงินที่ต้องชำระ  {{ paymentPrecheck.enrollmentSummary.totalPaymentAmount | number: '1.0-0' }} บาท</p> 
        <div class="relative_layout" style="padding-right: 5px;" *ngIf="openFrom == 'slip'">
                <button class="button"  (click)="changePaymentMethod()">
                    เปลี่ยนวิธีการชำระเงิน
                    <div class="input_icon">
                        <img src="/assets/icons/credit-card.svg" alt="">                
                    </div>
                </button>                
        </div>
        <br>
        <span  *ngIf="haveLastPayment && openFrom == 'slip'">Last Payment</span>
        <div class="flex_row container_payment">
            <ng-container *ngIf="haveLastPayment">            
                <ng-container *ngIf="paymentPrecheck.lastPayment ;else noCredit">
                <div class="card" (click)="gotoSlip()">
                    <div class="flex_col">
                        <label>  {{ paymentPrecheck.lastPayment.payment_method_code }} </label>
                        <label> ชำระเงินล่าสุด {{ paymentPrecheck.lastPayment.request_payment_date | date}} </label>
                    </div>                
                    <img class="image_payment" [src]="paymentPrecheck.lastPayment.logo_url">
                </div>
                </ng-container>
                <ng-template #noCredit>
                    <div class="card">
                        <div class="flex_col">
                            <label> ยังไม่มีรายการชำระเงินล่าสุด </label>
                        </div>                
                    </div>
                </ng-template>                
            </ng-container>

            <ng-container *ngIf="!haveLastPayment">           
                    <ng-container *ngIf="paymentPrecheck.paymentMethods.length != 0; else paymentMethods">
                    <ng-container *ngFor="let payment of paymentPrecheck.paymentMethods ;let index = index">                            
                            <div class="card ripple" [ngStyle]="{'background-color': selectPaymentIndex == index ? '#aeb7b2' :''}" (click)="selectPaymentMethod(index,payment)">
                                <div class="flex_col" >
                                    <label>{{ payment.payment_method_name }}</label>
                                    <label>ค่าธรรมเนียม {{ payment.fee | number: '1.0-0' }} บาท</label>
                                    <label>{{ payment?.message }}</label>
                                </div>                
                                <img class="image_payment" [src]="payment.logo_url">
                            </div>
                    </ng-container>
                    <div class="card ripple" style="height: 80px;" (click)="gotoSlip()">
                        <div class="flex_col" >
                            <label>ชำระผ่านใบแจ้งการชำระเงิน</label>
                        </div>                
                    </div>
                    <ng-template #paymentMethods>
                        <div class="card">
                            <div class="flex_col">
                                <label> ไม่มีรายการสำหรับจ่ายเงิน </label>
                            </div>                
                        </div>
                    </ng-template>
                </ng-container>                    
        </ng-container>
        </div>
        <div class="flex_row" style="justify-content: space-between;padding-top: 5px;align-items: baseline;">
            <!-- {{selectPayment?.api_url}} -->
            <p *ngIf="!haveLastPayment" class="sub_payment_text">จำนวนเงินที่ต้องชำระสุทธิ  {{ paymentPrecheck.enrollmentSummary.totalPaymentAmount + fee | number: '1.0-0' }} บาท</p> 
            <div *ngIf="!haveLastPayment" class="relative_layout" style="padding-right: 5px;" >
                <button class="button" [disabled]="selectPayment == null"  (click)="onClickPaymentByLastPayment(selectPayment)">
                    ชำระเงิน 
                    <div class="input_icon">
                        <img src="/assets/icons/credit-card.svg" alt="">                
                    </div>
                </button>                
            </div>
        </div>        
        <br>
        
        <form id="form1" target="_blank"  method="post" style="display: none;">
            user: <input type="text" class="form-control fData Mandatory"   id="User" name="User"     value="sa@domain.com" maxlength="20" /><br />
            Pass:  <input type="text" class="form-control fData Mandatory"   id="Pass" name="Pass"     value="Password@2017" maxlength="20" /><br />
            MerchantID:  <input type="text" class="form-control fData Mandatory"   id="MerchantID" name="MerchantID"     value="007" maxlength="20" /><br />
            Ref1: <input type="text" class="form-control fData Mandatory"   id="Ref1" name="Invoice"     value="R18888881" maxlength="20" /><br />
            Amount:      <input type="text" class="form-control fData Mandatory"   id="Amount" name="Amount"     value="10" maxlength="20" /><br />
            Ref2:     <input type="text" class="form-control fData Mandatory"   id="Ref2" name="Ref2"     value="R28888881" maxlength="20" /><br />
            Channel:     <input type="text" class="form-control fData Mandatory"   id="Channel" name="Channel"     value="WEB" maxlength="20" /><br />      
            <br />              
            <button type="submit" class="btn btn-success" id="btnSubmit" (click)="submitForm()">Pay</button>                  
          </form>
        <!-- <div class="flex_row_center" *ngIf="imageBase64">
            <img style="width: 200px;height: 200px;" [src]="imageBase64" alt="">
        </div> -->
    </ng-container>
    <ng-container *ngIf="paymentPrecheck.enrollmentSummary.totalPaymentAmount == 0">
        <p class="payment_text"> ไม่มียอดเงินในการชำระ </p>
    </ng-container>
    

    </div>
</div>