button:disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.button:disabled {
    cursor: not-allowed;
    pointer-events: none;
}

.button {
    position: relative;
    background-color: #00BCD4;
    color: #FFF;
    font-size: 0.8em;
    height: 29px;
    line-height: 29px;
    padding: 0px 10px 0px 25px;
    border-radius: .25rem;
    
    
}

.card {
    display: flex;
    flex-flow: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    margin: 5px;
    padding: 5px;
    flex-flow: row;
    align-items: center;
    padding: 5px;
    flex: 1 0 80%;
    justify-content: space-between;
    &:hover {
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    }

    @media only screen and (max-width: 400px) { 
        flex-flow: row;
        align-items: center;
        padding: 5px;
        flex: 1 0 90%;
        justify-content: space-between;
    }

    @media only screen and (max-width: 600px) { 
        flex-flow: row;
        align-items: center;
        padding: 5px;
        flex: 1 0 90%;
        justify-content: space-between;        
    }

}

.ripple {
    background-position: center;
    transition: background 0.8s;
  }

  .ripple:hover {
    background: white radial-gradient(circle, transparent 1%, white 1%) center/15000%;
  }

  .ripple:active {
    background-color: gray;
    background-size: 100%;
    transition: background 0s;
  }