<ng-container *ngIf="precheckPayment$ | async as precheck">
<ng-container *ngIf="precheck.lastPayment">
    <div class="card" style="margin-top: 300px;max-height: 100px;">
            <div class="flex_col" >
                <label>{{ precheck.lastPayment.payment_method_name }}</label>
                <label> ชำระเงินล่าสุด {{ precheck.lastPayment.request_payment_date | date}} </label>
            </div>                
            <img class="image_payment" [src]="precheck.lastPayment.logo_url" style="max-height: 100px;">
    </div>
</ng-container>
<div style="padding: 15px;">
    <div class="btn_save_layout" style="text-align: center;">
            <div *ngIf="precheck.lastPayment"  class="relative_layout" style="padding-right: 5px;">
                    <button class="button"  (click)="changeMethodPayment()" [disabled]="precheck.enrollmentSummary.totalPaymentAmount == 0">
                        เปลี่ยนวิธีการ ชำระเงิน 
                        <div class="input_icon">
                            <img src="/assets/icons/credit-card.svg" alt="">                
                        </div>
                    </button>
            </div>
        <div class="relative_layout" style="padding-right: 5px;">
            <button class="button" (click)="openPopUp()" [disabled]="precheck.enrollmentSummary.totalPaymentAmount == 0">
                ชำระเงิน
                <div class="input_icon">
                    <img src="/assets/icons/credit-card.svg" alt="">                
                </div>
            </button>
        </div>        
        <div class="relative_layout">
            <button class="button" (click)="gotoSlip()" [disabled]="precheck.enrollmentSummary.totalPaymentAmount == 0">  
                พิมพ์ใบชำระเงิน
                <div class="input_icon">
                    <img src="/assets/icons/printer.svg" alt="">
                </div>
             </button>
        </div>
</div>
</div>
    <app-modal
        [paymentPrecheck]="precheck"
        [openFrom]="'slip'"
        [message]="selectPaymentMSG"
        [haveLastPayment]="haveLastPayment"> 
    </app-modal>
</ng-container>