<ng-container *ngIf="!realCommit.isCommit">
    <div class="table_layout">
        <div class="total_topic">
            <span>รวมค่าลงทะเบียนทั้งหมด (บาท)</span>
            <span>{{sumAmount | number: '1.0-0'}}</span>
        </div>
        <div class="total_layout">
            <table class="table table-sm">
                <tbody>
                    <tr *ngFor="let credit of commit?.credits; let index = index">
                        <td class="text_left align_top" style="border-top: none">{{index + 1}}.  {{credit.name}}</td>
                        <td class="text_right align_top" style="border-top: none">{{credit?.amount | number: '1.0-0'}}</td>
                    </tr>
                </tbody>            
            </table>
        </div>
    </div>
    <div class="table_layout">
            <div class="total_topic">
                <span>รวม รายการหัก  (บาท)</span>
                <span>{{sumDebit | number: '1.0-0'}}</span>
            </div>
            <div class="total_layout">
                <table class="table table-sm">
                    <tbody>
                        <tr *ngFor="let debit of commit?.debits; let debitsIndex = index">
                            <td class="text_left align_top" style="border-top: none">{{debitsIndex + 1}}. {{debit.name}}</td>
                            <td class="text_right align_top" style="border-top: none">{{debit?.amount | number: '1.0-0'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="text_left align_top" style="white-space: nowarp;">รวมจำนวนเงิน สุทธิต้องชำระ</th>
                            <th class="text_right align_top" style="width: 300px;">{{commit?.total?.amount | number: '1.0-0'}}</th>
                        </tr>
                    </tfoot>            
                </table>
            </div>
        </div>
</ng-container>
<ng-container *ngIf="realCommit.isCommit">
    <div class="table_layout">
        <div class="total_topic">
            <span>รวมค่าลงทะเบียนทั้งหมด (บาท)</span>
            <span>{{sumAmount | number: '1.0-0'}}</span>
        </div>
        <div class="total_layout">
            <table class="table table-sm">
                <tbody>
                    <tr *ngFor="let credit of realCommit?.credits; let index = index">
                        <td class="text_left align_top" style="border-top: none">{{index + 1}}.  {{credit.name}}</td>
                        <td class="text_right align_top" style="border-top: none">{{credit?.amount | number: '1.0-0'}}</td>
                    </tr>
                </tbody>            
            </table>
        </div>
    </div>
    <div class="table_layout">
            <div class="total_topic">
                <span>รวม รายการหัก  (บาท)</span>
                <span>{{sumDebit | number: '1.0-0'}}</span>
            </div>
            <div class="total_layout">
                <table class="table table-sm">
                    <tbody>
                        <tr *ngFor="let debit of realCommit?.debits; let debitsIndex = index">
                            <td class="text_left align_top" style="border-top: none">{{debitsIndex + 1}}. {{debit.name}}</td>
                            <td class="text_right align_top" style="border-top: none">{{debit?.amount | number: '1.0-0'}}</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <th class="text_left align_top" style="white-space: nowarp;">รวมจำนวนเงิน สุทธิต้องชำระ</th>
                            <th class="text_right align_top" style="width: 300px;">{{realCommit?.total?.amount | number: '1.0-0'}}</th>
                        </tr>
                    </tfoot>            
                </table>
            </div>
        </div>
</ng-container>


<div class="btn_save_layout">
        <div class="relative_layout" style="padding-right: 5px;">
            <!-- *ngIf="realCommit.payEnable" -->
                <button class="button"  (click)="gotoSlipWithOption()" *ngIf="realCommit.payEnable">
                    ชำระเงินออนไลน์
                    <div class="input_icon">
                        <img src="/assets/icons/credit-card.svg" alt="">                
                    </div>
                </button>                
        </div>
        <div class="relative_layout">
            <!-- *ngIf="realCommit.payEnable"  -->
            <button class="button" (click)="gotoSlip()" *ngIf="realCommit.payEnable" [disabled]="realCommit.totalPaymentAmount == 0">
                พิมพ์ใบชำระเงิน
                <div class="input_icon">
                    <img src="/assets/icons/printer.svg" alt="">
                </div>
             </button>
        </div>
        <div class="relative_layout" >
            <!-- *ngIf="!isCommitSuccess" [disabled]="precheck.isReadOnly" (click)="commit()" -->
            <button class="button" *ngIf="!isCommitSuccess" [disabled]="precheck.isReadOnly" (click)="onCommit()">
                เสร็จสิ้นการลงทะเบียน
                <div class="input_icon">
                        <img src="/assets/icons/key.svg" alt="">                
                    </div>
            </button>
        </div>
        <!-- <div class="btn_save_layout">
            <div class="relative_layout" >
                <button class="button" *ngIf="!isCommitSuccess" [disabled]="precheck.isReadOnly" (click)="commit()">
                    เสร็จสิ้นการลงทะเบียน
                    <div class="input_icon">
                            <img src="/assets/icons/key.svg" alt="">                
                        </div>
                </button>
            </div>
        </div> -->
</div>