.table_layout {
    position: relative; 
    margin: 15px 0px;
}

.total_topic {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    font-size: 0.8em;
    font-weight: bold;
    padding: 6px 15px;
    background-color: #e3e4e6;
}

.total_layout {
    position: relative;
    display: block;
    background-color: #FFF;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    box-sizing: border-box;
    padding: 10px 15px;
    border: #ececec 1px solid;
}

.tb_boder_bot {
    border-bottom: 1px solid #dee2e6
}

.table_layout tr td {
    border-bottom: 1px solid #dee2e6;
}

.button {
    position: relative;
    background-color: #00BCD4;
    color: #FFF;
    font-size: 0.8em;
    height: 29px;
    line-height: 29px;
    padding: 0px 10px 0px 25px;
    border-radius: .25rem;
}