<!-- <form [formGroup]="form"> -->
        <div class="topic_header_item">
                <div class="topic_item">เพิ่ม วิชา</div>
            </div>
            <div class="search_layout">
                    <div class="search_title">ค้นหาและเพิ่มรหัสวิชา</div>
                    <div> 
                        <div class="form_search relative_layout">
                            <input [disabled]="isReadOnly" [ngStyle]="{'cursor': isReadOnly ? 'not-allowed': 'unset'}"  type="text" #search placeholder="รหัสวิชา เช่น EA123">
                            <div class="input_icon">
                                <img src="/assets/icons/input-search.svg" alt="">                
                            </div>
                        </div>
                        &nbsp;
                        <div class="relative_layout" style="display: inline;" >
                            <button class="search_button relative_layout"  [disabled]="isReadOnly" type="button" (click)="searchSubject()">
                                ค้นหา
                                <div class="input_icon">
                                        <img src="/assets/icons/search.svg" alt="">                
                                    </div>
                            </button>            
                        </div>
                    </div> 
            </div>
                <div class="table_layout">
                        <div class="body">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th class="text_center align_middle hide_table" style="width: 60px;">ลำดับ</th>
                                            <th class="text_center align_middle" style="width: 110px;">รหัสวิชา</th>
                                            <th class="text_left align_middle">ชื่อหลักสูตร EN</th>
                                            <th class="text_center align_middle" style="width: 70px;">หน่วยกิต</th>
                                            <th class="text_center align_middle" style="width: 90px;">กลุ่มทฤษฎี</th>
                                            <th class="text_center align_middle" style="width: 90px;">กลุ่มปฎิบัติ</th>
                                            <!-- <th class="text_center align_middle" style="width: 90px;">สถานะ</th> -->
                                            <th class="text_center align_middle hide_table" style="width: 90px;">ค่า Lecture <br> บาท</th>
                                            <th class="text_center align_middle hide_table" style="width: 90px;">ค่า Lab <br> บาท</th>
                                            <th class="text_center align_middle hide_table" style="width: 90px;">จำนวนเงิน <br> บาท</th>
                                            <th class="text_right align_middle">
                                                กดเพื่อลบ
                                                <img src="/assets/icons/doc.svg" alt="">
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let subject of listSubject ;let index = index">
                                            <td class="text_center hide_table">{{ index + 1}}</td>
                                            <td class="text_center">{{ subject.subjectCode }}</td>
                                            <td class="text_left">{{ subject.subjectNameTh }}</td>
                                            <td class="text_center">{{ subject.credit }}</td>
                                            <td class="text_center">{{  subject.selectedLectureGroup ? subject.selectedLectureGroup.sectionId :'-'}}</td>
                                            <td class="text_center">{{  subject.selectedLabGroup ? subject.selectedLabGroup.sectionId :'-'}}</td>
                                            <!-- <td class="text_center"><span class="rsu_badge rsu_badge-ssuccess">{{ subject.flag }}</span></td> -->
                                            <td class="text_center hide_table">{{ profileStudent.packageStatus ? 'n/a' :  subject.lectureAmount | number  }}</td>
                                            <td class="text_center hide_table">{{ profileStudent.packageStatus ? 'n/a' :   subject.labAmount | number  }}</td>
                                            <td class="text_center hide_table">{{ profileStudent.packageStatus ? 'n/a' :  ( subject.lectureAmount * subject.credit )  + subject.labAmount | number }}</td>
                                            <td class="text_center flex_row_center"><span class="delete_icon" (click)="deleteSubject(subject)">x</span></td>                        
                                        </tr>
                                    </tbody>
                                </table>
                        </div>
                    </div>
                   
                    <!-- </form> -->