.delete_icon {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 15px;
    height: 15px;
    // background-color: var(--sec_color);    
    background-color:red;    
}

.button {
    position: relative;
    background-color: #00BCD4;
    color: #FFF;
    font-size: 0.8em;
    height: 29px;
    line-height: 29px;
    padding: 0px 10px 0px 25px;
    border-radius: .25rem;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}


.topic_header_item {
    font-size: 18px;
}

.topic_item {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    height: 25px;
}

.sub_topicfirst {
    font-size: 18px;
}

.search_layout {
    display: flex;
    flex-flow: column;
    align-items: flex-end;
}

.search_title {
    display: inline-block;
    font-size: 0.9em;
    font-weight: bold;
    color: #757575;
    margin-right: 5px;
}

.search_container{
    display: block;
    width: 350px;
    padding: 5px;
    min-height: 60px;
    max-height: 230px;
    position: absolute;
    z-index: 10;
    right: 0px;
    top: 35px;
    background-color: #ffffff;
    border: #929292 1px solid;
    overflow-y: auto;
}

.font_color_second{
    color: #808080;
}

// table tr:hover {
//     cursor: pointer;
//     background-color: #eaeaea;
// }

// @media only screen and (max-width: 600px) { 
//     .table_layout {
//         overflow-y: auto;
//     }
    
//     // .body {
//     //     width: 110vh
//     // }
// }

@media only screen and (max-width: 400px) {
    .search_layout {
        align-items: unset;
    }
    
    .search_layout .search_title {
        width: 100%;
        margin-right: 0px   
    }

    .search_layout .form_search {
        width: 90%;
    }

    .search_button {
        width: 100%;
    }
}

