<ng-container *ngIf="statePrecheck$ | async as state">
    <app-list-manage-subject
            [profileStudent]="profileStudent"
            [selectSubjects]="selectedSubject"
            [isReadOnly]="state.isReadOnly"
            (onDeleteSubject)="addSubjectToDelete($event)"
        >
    </app-list-manage-subject>

<div style="border: #cecece 1px solid;padding: 10px;">
    <app-add-subject 
        [profileStudent]="profileStudent"
        [isReadOnly]="state.isReadOnly"
        [listSubject]="addListSubjects"
        [searchResult$]="searchResult$"
        (onCommit)="confirmAddSubject($event)"
        (onSearchSubject)="searchSubject($event)"
        (onDeleteSubject)="deleteSelect($event)"
    >
    </app-add-subject>
    <app-remove-subject 
        [profileStudent]="profileStudent"
        [subjects]="deleteListSubject"
        [isReadOnly]="state.isReadOnly"
        (onCommit)="confirmDeleteSubject($event)"
        (onDeleteSubject)="deleteSubjectIntentToRemove($event)"
        >
    </app-remove-subject>
</div>
    <app-waiting-list 
        [profileStudent]="profileStudent" 
        [subjects]="watingListSubjects" 
        [isReadOnly]="state.isReadOnly">
    </app-waiting-list>

</ng-container>
<app-dynamic-modal 
        [header]="(searchResult$ | async)?.subjectNameTh"
        [searchResult$]="searchResult$"
        (onSelectSubject)="selectSubject($event)"
        (onSearchSubject)="searchSubject($event)" >
</app-dynamic-modal>
