<div class="topic_container">
    <!-- topic  -->
    <div class="topic_header_item">
        <!-- <div class="topic_item">ปีการศึกษา {{form.academicYear}}/{{form.academicSemester}}</div>
        <div class="sub_topicfirst">รวมจำนวน {{ totalCredit }} หน่วยกิต</div>
        <div class="sub_topicfirst">max:{{form.maxCredit}} min:{{form.minCredit}}</div> -->
    </div>
    <!-- search  -->
    <div class="search_layout">
            <div class="search_title">ค้นหารหัสนักเรียน</div>
            <div> 
                <div class="form_search relative_layout">
                    <input type="text" #search placeholder="รหัสนักเรียน เช่น 6204702">
                    <div class="input_icon">
                        <img src="/assets/icons/input-search.svg" alt="">                
                    </div>
                </div>
                &nbsp;
                <div class="relative_layout" style="display: inline;" (click)="searchStudent()">
                    <button class="search_button relative_layout" type="button" >ค้นหา</button>            
                    <div class="input_icon">
                        <img src="/assets/icons/search.svg" alt="">                
                    </div>
                </div>
            </div> 
    </div>
    
</div>
<!-- <form [formGroup]="form"> -->
    <div class="table_layout">
        <div class="body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <th class="text_center align_middle hide_table" style="width: 60px;">ลำดับ</th>
                            <th class="text_center align_middle" style="width: 110px;">รหัสนักเรียน</th>
                            <th class="text_left align_middle">ชื่อนักเรียน</th>
                            <th class="text_center align_middle" style="width: 70px;">หน่วยกิต</th>
                            <th class="text_center align_middle" style="width: 90px;">คณะ</th>
                            <th class="text_center align_middle" style="width: 90px;">เอก</th>
                            <th class="text_center align_middle" style="width: 90px;">ปี</th>                            
                            <th class="text_center align_middle hide_table" style="width: 90px;">สถานะ</th>
                            <th class="text_center align_middle hide_table" style="width: 90px;">เกรด</th>
                            <!-- <th class="text_center align_middle hide_table" style="width: 90px;">ค่า Lab</th> -->
                            <th class="text_center align_middle hide_table" style="width: 90px;">ที่ปรึกษา</th>
                            <th class="text_right align_middle "><img src="/assets/icons/doc.svg" alt=""></th>
                        </tr>
                    </thead>
                    <tbody *ngIf="searchResult$ | async as student">
                        <tr (click)="selectStudent(student)">
                            <td class="text_center hide_table">1</td>
                            <td class="text_center">{{ student.studentCode }}</td>
                            <td class="text_left">{{ student.studentName }}</td>
                            <td class="text_center">{{ student.credit }}</td>
                            <td class="text_center">{{student.facultyName}}</td>
                            <td class="text_center"> {{student.majorName}} </td>
                            <td class="text_center"> {{student.studentYear}} </td>
                            <td class="text_center hide_table">{{student.statusName}}</td>
                            <td class="text_center hide_table">{{ student.gpa }}</td>
                            <!-- <td class="text_center hide_table">{{ student.statusName }}</td> -->
                            <td class="text_center hide_table">{{ student.advisor }}</td>
                            <td class="text_center"></td>                        
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
    
    <!-- </form> -->