.topic {
    position: absolute;
    z-index: 10;
    
    left: 10%;
    top: 1%;
    font-size: 22px;
    line-height: 35px;
    // width: 412px;
}

.btn_layer {
    position: absolute;
    bottom: 0px;
    width: 400px;
    height: 40px;
    line-height: 40px;
    text-align: right;
}

.sub_topic {    
    position: absolute;
    z-index: 10;
    left: 10%;
    top: 10%;
    // width: 400px;
    height: 75%;
    font-size: 22px;
    font-weight: normal;
    line-height: 35px;
}

.topic_two{
    position: absolute;
    display: block;
    left: 60px;
    top: 350px;
    font-size: 22px;
    line-height: 30px;
    width: 412px;
    color: #FFF;
}

.sub_topic_two {
    position: absolute;
    display: block;
    left: 60px;
    top: 420px;
    width: 400px;
    height: 270px;
    font-size: 20px;
    font-weight: normal;
    line-height: 30px;
    overflow-y: auto;
    color: #FFF;
}

.btn_rsu {
    background-color: #0099d4;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFF;

    &__red {
        background-color: #d80058;
        padding-left: 20px;
        padding-right: 20px;
        color: #FFF;
    }
}

@media only screen and (max-width: 400px) {
    .topic {
        font-size: 10px;
        top: -3% !important;
    }
    
    .sub_topic {
        font-size: 14px;
        line-height: unset;
    }

    .topic_two {
        font-size: 10px;
        width: unset;
        top: -3% !important;
    }

    .sub_topic_two {
        left: 10%;
        top: 50%;
        width:unset;
        font-size: 14px;
        line-height: unset;
    }
    
    .btn_layer {
        bottom: unset;
        width: unset;
    }
}


