<div class="flex_row_center">
    <img style="width: 50%" src="assets/images/info_01.jpg" alt="">
    <img style="width: 50%" src="assets/images/info_02.jpg" alt="">
</div>
<div class="flex_row_center">
    <div class="relative_layout" style="width: 50%;">
        <img style="width: 100%" src="assets/images/info_03.jpg" alt="">
        <div class="topic">
                เปิดรับสมัครเรียนนักศึกษาใหม่ ระดับป.ตรี
        </div>
        <div class="sub_topic regulat_text">
                Rangsit University is a private institution of higher education with the primary aim of creating graduates in the area of study meeting the requirements of national development by focusing mainly on science technology, design and management
                <div class="btn_layer">
                    <button class="btn btn_rsu">อ่านต่อ >></button>
                </div>        
        </div>
    </div>
    <img style="width: 50%" src="assets/images/info_04.jpg" alt="">
</div>
<div class="flex_row_center">
    <img style="width: 50%" src="assets/images/info_05.jpg" alt="">
    <div class="relative_layout" style="width: 50%">
        <img style="width: 100%" src="assets/images/info_06.jpg" alt="">    
        <div class="topic_two">
                สอบแพทย์,ทันตะฯ และเภสัชฯ รอบ 1 ตั้งแต่วันที่ 2 ก.ย. - 6 พ.ย.62
        </div>
        <div class="sub_topic_two regulat_text">
                Rangsit University is a private institution of higher education with the primary aim of creating graduates in the area of study meeting the requirements of national development by focusing mainly on science technology, design and management
                <div class="btn_layer">
                    <button class="btn btn_rsu__red">อ่านต่อ >></button>
                </div>        
        </div>
    </div>    
</div>