<div class="bg_color"> 
<div class="login_warpper">
    <div class="container">
        <div class="login_title">
            เข้าสู่ระบบด้วยบัญชีมหาวิทยลัยของคุณ
        </div>
        <div class="input_username relative">
            <input #username type="number" placeholder="รหัสนักศึกษา" style="width: 90%;">
            <div class="container_icon">                
                <img style="fill: #afafaf;" src="assets/icons/user.svg" alt="">
            </div>
        </div>
        <div class="input_pasword relative">
            <input #password type="password" placeholder="รหัสผ่าน" style="width: 90%;">
            <div class="container_icon">
                <img src="assets/icons/lock.svg" alt="">
            </div>
        </div>
        <div class="lang_container">
            <label (click)="isSelectThai = true" [ngStyle]="{'opacity': isSelectThai ? '1' : '0.5'}">ภาษาไทย</label>
            &nbsp;
            <label>/</label>
            <!-- <img src="assets/images/th.svg" alt="" [ngStyle]="{'opacity': isSelectThai ? '1' : '0.5'}" (click)="isSelectThai = true"> -->
            &nbsp;
            <label (click)="isSelectThai = false" [ngStyle]="{'opacity': isSelectThai ? '0.5' : '1'}" >English</label>
            <!-- <img src="assets/images/gb.svg" alt="" [ngStyle]="{'opacity': isSelectThai ? '0.5' : '1'}" (click)="isSelectThai = false"> -->
        </div>
        <div class="btn_container">
                <button class="btn" type="button" (click)="login()">เข้าสู่ระบบ</button>
                &nbsp;
                <button class="btn" type="button" (click)="clearForm()">ยกเลิก</button>
        </div>
        <div class="hint_container">            
                ผู้ใช้จะต้องปฎิบัติตาม <a href="">นโยบายการใช้ระบบคอมพิวเตอร์ของมหาวิทยาลัย</a>
        </div>
    </div>
</div>
</div>
