.relative {
    position: relative;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;    
    appearance: none;
    margin: 0;
}

.bg_color {
    background-color: #CCC;
    height: 100vh;
}

.lang_container {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.lang_container > img {
    max-width: 30px;
    max-height: 30px;
    cursor: pointer;
}
.lang_container > label {
    cursor: pointer;
}

.btn_container {
    position: relative;
    display: block;
    margin-bottom: 20px;
}

.btn_container > button {
    width: 90px;
    background-color: #2071f4;
    padding-left: 20px;
    padding-right: 20px;
    color: #FFF;
    padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
    
}

.hint_container {
    position: relative;
    display: block;
    margin-top: 30px;
}

input {
    width: 95%;
    border: none;
    font-size: 18px;
    color: #848484;
    line-height: 30px;
    padding-right: 10px;
}

.login_warpper {
    position: relative;
    display: block;
    max-width: 1024px;
    margin: 0 auto;
    background: url(/assets/images/rsu_cover.jpg) 0px 0px no-repeat;
    min-height: 457px;
    text-align: left;
    box-sizing: border-box;
    box-shadow: 2px 3px 3px #989898;
}

.container {
    position: relative;
    float: right;
    display: block;
    width: 281px;
    height: 457px;
    // background: #FFF url(/assets/images/rsu_login_logo.jpg) 0px 0px no-repeat;
    background: #FFF url(/assets/images/rsu_login_logo.png) 5px 5px no-repeat;
    background-size: 150px 150px;
    background-position: top;
    box-sizing: border-box;
    padding: 147px 15px 0px 15px;
    
}

@media only screen and (max-width: 600px) {
    .login_warpper {
        box-shadow: unset;
        background: unset
    }

    .container {
        width: 100%;
        height: 100vh;
        padding-top: 300px;
        background-size: 300px 300px
    }

    .btn_container {
        display: flex;
        flex-flow: column;
    }

    .btn_container > button {
        width: 100%;
    }
  }

.login_title {
    position: relative;
    display: block;
    margin-bottom: 15px;
    font-weight: bold;
}

.input_username {
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: #b7b7b7 1px solid;
}

.input_pasword {
    position: relative;
    margin-bottom: 10px;
    padding-left: 30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: #b7b7b7 1px solid;
}

.container_icon {
    width: 30px;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    fill: #afafaf;
}

