<form [formGroup]="form">
    <div class="table_layout">
        <div class="body">
                <table class="table table-sm">
                    <thead>
                        <tr>
                            <!-- <th class="text_center align_middle" style="width: 60px;">ลำดับ</th> -->
                            <th class="text_center align_middle" style="width: 110px;">รหัสวิชา</th>
                            <th class="text_left align_middle" style="width: 20%;">ชื่อวิชา</th>
                            <th class="text_center align_middle" style="width: 70px;">หน่วยกิต</th>
                            <th class="text_center align_middle" style="width: 90px;">กลุ่มทฤษฎี</th>
                            <th class="text_center align_middle" style="width: 90px;">กลุ่มปฎิบัติ</th>
                            <!-- <ng-container>
                                <th class="text_center align_middle" style="width: 90px;">เวลาเริ่มเรียน</th>
                                <th class="text_center align_middle" style="width: 90px;">เวลาเลิกเรียน</th>
                            </ng-container> -->
                            <!-- <ng-container>                            
                                <th class="text_center align_middle" style="width: 90px;">เวลาเริ่มเรียน (Lap)</th>
                                <th class="text_center align_middle" style="width: 90px;">เวลาเลิกเรียน (Lap)</th>
                            </ng-container> -->
                            <th class="text_center align_middle hide_table" style="width: 90px;">สถานะ</th>
                            <th class="text_center align_middle hide_table" style="width: 90px;">
                                    ค่า Lecture
                                    <br>
                                    (บาท)
                            </th>
                            <th class="text_center align_middle hide_table" style="width: 90px;">
                                ค่า Lab
                                <br>
                                (บาท)
                            </th>
                            <th class="text_center align_middle hide_table" style="width: 90px;">
                                จำนวนเงิน
                                <br>
                                (บาท)
                            </th>
                            <th class="text_right align_middle hide_table">
                                กดเพื่อลบ
                                <img src="/assets/icons/doc.svg" alt="">
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                            <!-- style="background-color: beige;" -->
                        <tr *ngFor="let subject of form['controls']['selectedSubjects']['controls'];let index = index" [ngStyle]="{'background-color': subject.value.status  == 'WAITING' ? 'rgba(255, 127, 80, 0.5)' : null}">
                            <!-- <td class="text_center" >{{ index + 1}}</td> -->
                            <td class="text_center">{{ subject.get('subjectCode').value }}</td>
                            <td class="text_left" *ngIf="data?.selectedSubjects[index]?.isSpecialTopic == 'N'">{{ subject.get('subjectNameTh').value}}</td>
                            <td class="text_left" *ngIf="data?.selectedSubjects[index]?.isSpecialTopic == 'Y'">{{ subject.get('subjectNameTh').value}} ({{data?.selectedSubjects[index]?.selectedTopic.topicName}})</td>
                            <td class="text_center">{{ subject.get('credit').value }}</td>
                            <td class="text_center" >{{ subject.value.selectedLectureGroup == null ? '-' : subject.value.selectedLectureGroup.sectionId || ''}}</td>
                            <td class="text_center" >{{ subject.value.selectedLabGroup == null ?  '-' :subject.value.selectedLabGroup.sectionId  || ''}}</td>                        
                            <!-- <ng-container *ngIf="(subject.value.selectedLectureGroup && !subject.value.selectedLabGroup) || (subject.value.selectedLectureGroup && subject.value.selectedLabGroup)">
                                    <td class="text_center" >{{ subject.value?.selectedLectureGroup?.studyStartTime || '-' }}</td>
                                    <td class="text_center">{{ subject.value?.selectedLectureGroup?.studyEndTime || '-'  }}</td>
                            </ng-container>
                            <ng-container *ngIf="subject.value.selectedLabGroup && !subject.value.selectedLectureGroup">
                                    <td class="text_center" >{{ subject.value?.selectedLabGroup?.studyStartTime || '-' }}</td>
                                    <td class="text_center">{{ subject.value?.selectedLabGroup?.studyEndTime || '-' }}</td>
                            </ng-container> -->
                            <td class="text_center hide_table"><span class="rsu_badge">{{subject.get('flag').value}}</span></td>
                            <td class="text_center hide_table">{{ profileStudent?.packageStatus ? 'n/a' : subject.get('lectureAmount').value * subject.get('credit').value | number }}</td>
                            <td class="text_center hide_table" >{{ profileStudent?.packageStatus ? 'n/a' : subject.get('labAmount').value | number  }}</td>  
                            <td class="text_center hide_table">{{ profileStudent?.packageStatus ? 'n/a' : (subject.get('lectureAmount').value * subject.get('credit').value) + subject.get('labAmount').value  | number }}</td>
                            <td class="text_center">
                                <div style="display: flex;justify-content: center;">
                                    <span *ngIf="!isReadOnly" class="delete_icon" (click)="deleteSubject(subject.getRawValue())">x</span>
                                </div>
                            </td>                        
                        </tr>
                    </tbody>
                </table>
        </div>
    </div>
    <!-- <div class="btn_save_layout">
        <div class="relative_layout" >
            <button class="button" *ngIf="!isCommitSuccess" [disabled]="isReadOnly" (click)="onClickCommit()">
                เสร็จสิ้นการลงทะเบียน
                <div class="input_icon">
                        <img src="/assets/icons/key.svg" alt="">                
                    </div>
            </button>
        </div>
    </div> -->
    
    <!-- <pre>{{form.getRawValue() | json}}</pre> -->
    </form>