
.align_middle {
    vertical-align: middle;
}


.btn_save_layout {
    margin: 10px 0px;
    text-align: right;
}

.button {
    position: relative;
    background-color: #00BCD4;
    color: #FFF;
    font-size: 0.8em;
    height: 29px;
    line-height: 29px;
    padding: 0px 10px 0px 25px;
    border-radius: .25rem;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

.delete_icon {
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    width: 15px;
    height: 15px;
    // background-color: var(--sec_color);    
    background-color: red ;
    cursor: pointer;
}


@media only screen and (max-width: 600px) { 
    .table_layout {
        overflow-y: auto;
    }
    
    // .body {
    //     width: 110vh
    // }
}

.hide_table {
    
}

.responsive_table {
    display: none;
}



@media only screen and (max-width: 400px) { 
    .hide_table {
        display: none;
    }
    
    .table > * {
        font-size: 12px;
    }


    .responsive_table {
        display: block;
    }

    td > .responsive_table {
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    
    .dialog_header label {
        font-size: 16px;
    }
    
}


