.container_router {
    // margin-top: 280px;    
    max-width: 1024px;
    margin: 0 auto;
    margin-top: 275px;
}

@media only screen and (max-width: 600px) { 
    .container_router {
        margin-top: 230px;
        padding: 0 5px;
    }
}