<!-- <app-modal [totalAmount]="500"></app-modal> -->
<ng-container *ngIf="precheck$ | async as precheck">
    <app-topic-subject [form]="form" 
        [totalCredit]="currentCredit"
        [isReadOnly]="precheck.isReadOnly"
        (onSearchSubject)="searchSubject($event)" 
        (onSelectSubject)="selectSubject($event)"       
        [totalPayamount]="totalPayamount"
        >
    </app-topic-subject> 
    
    <app-list-subject [form]="form"
        [isCommitSuccess]="isCommitSuccess"
        [totalAmount]="totalAmount"
        [isReadOnly]="precheck.isReadOnly"
        [profileStudent]="profileStudent"
        [data]="data"
        (onDeleteSubject)="deleteSubject($event)"
        (onCommit)="commit($event)"
        >
    </app-list-subject>


<ng-container>
    <div #tuituin *ngIf="data?.selectedSubjects.length != 0">
        <app-tuituin-fee 
            [totalPayamount]="totalPayamount"
            [commit]="displayCommit"
            [precheck]="precheck"
            [isCommitSuccess]="isCommitSuccess"
            [realCommit]="stateCommit$ | async"
            (onCommitEvent)="commit($event)"
            >
        </app-tuituin-fee>
    </div>
    <!-- <div class="btn_save_layout">
        <div class="relative_layout" >
            <button class="button" *ngIf="!isCommitSuccess" [disabled]="precheck.isReadOnly" (click)="commit()">
                เสร็จสิ้นการลงทะเบียน
                <div class="input_icon">
                        <img src="/assets/icons/key.svg" alt="">                
                    </div>
            </button>
        </div>
    </div> -->
    <app-modal *ngIf="paymentPreCheck$ | async as paymentPrecheck"
        [paymentPrecheck]="paymentPrecheck"
        [haveLastPayment]="paymentPrecheck.lastPayment ? true : false"
    >
    </app-modal>
</ng-container>
</ng-container>

<app-dynamic-modal
    [header]="searchResult?.subjectNameTh || '' "
    [searchResult$]="searchResult$"
    (onSelectSubject)="selectSubjectFromPopUp($event)">
</app-dynamic-modal>



