.btn_save_layout {
    margin: 10px 0px;
    text-align: right;
}

.button {
    position: relative;
    background-color: #00BCD4;
    color: #FFF;
    font-size: 0.8em;
    height: 29px;
    line-height: 29px;
    padding: 0px 10px 0px 25px;
    border-radius: .25rem;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}