/* You can add global styles to this file, and also import other style files */

html, body {
    margin: 0;
    padding: 0;
    background-color: #f4f6f7;
}
html.swal2-shown,
body.swal2-shown {
  overflow-y: auto !important;
}

// .mat-form-field-appearance-outline .mat-form-field-outline {
//     color: rgba(0, 0, 0, 1);
//     opacity: 0.5;
// }

// .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-outline {
//     color: rgba(0, 0, 0, 0.5);
// }
// .mat-form-field-appearance-outline.mat-form-field-disabled .mat-form-field-label {
//     color: rgba(0, 0, 0, 0.4);
// }

// .mat-input-element:disabled {
//     color: rgba(0, 0, 0, 0.5);
// }

// .mat-checkbox-inner-container {
//     margin-right: 4px !important;
// }

.rsu_badge {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    padding: 0.25em 0.4em;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
    background-color: white;
    color: #28a745;
}

@font-face {
    font-family: 'rsuregular';
    src: url('assets/fonts/rsu_regular-webfont.woff2') format('woff2');        
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'rsuregular-text';
    src: url('assets/fonts/rsu_text_Regular.ttf') format('woff2');        
    font-weight: normal;
    font-style: normal;
}


.regulat_text {
    font-family: 'rsuregular-text,sans-serif';
}

* {
      font-family: 'rsuregular'
    //   font-family: 'rsuregular-text'
  }

input,button {
      outline: none;
}

.align_top {
    vertical-align: top!important;
}

table {
    border-collapse: collapse;
}

.table > * {
    font-size: 14px;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    color: #212529;
}

.table td {
    vertical-align: top;
    border-top: 1px solid #dee2e6;
}

.text_center {
    text-align: center;
}

.text_left {
    text-align: left;
    white-space: nowrap
}

.text_right {
    text-align: right;
    white-space: nowrap;
}

.rsu_badge {
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    display: inline-block;
    padding: .25em .4em;
    // font-size: 75%;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

// .rsu_badge-ssuccess {
//     color: #fff;
//     background-color: #28a745;
// }

.btn_save_layout {
    margin: 10px 0px;
    text-align: right;
}
  

.relative_layout {
    position: relative;
    display: inline;
    font-size: 18px;
}

.input_icon {
    display: inline-block;
    position: absolute;
    top: 2px;
    left: 10px;
    z-index: 1;
}

.flex_row_center {
    display: flex;
    justify-content: center;
}

.flex_row{
    display: flex;
}
.flex_col {
    display: flex;
    flex-flow: column;
}



.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form_search {
    position: relative;
    display: inline-block;
    width: 250px;
    background-color: #FFF;
    padding-left: 30px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: #e2e2e2 1px solid;
}

.form_search input {
    width: 95%;
    border: none;
    font-size: 0.9em;
    color: #848484;
    line-height: 25px;
    padding-right: 10px;
}
.search_button {
    position: relative;
    background-color: #00BCD4;
    color: #FFF;
    font-size: 0.8em;
    height: 29px;
    line-height: 29px;
    padding: 0px 10px 0px 25px;
    border-radius: .25rem;

    &:disabled {
        opacity: 0.5;
        cursor: not-allowed;
    }
}

button:disabled > * {
    pointer-events: none;
    cursor: not-allowed;
}

.button:disabled > * {
    pointer-events: none;
    cursor: not-allowed;
}


.table_layout {
    margin: 15px 0px;
}

.body {
    padding: 15px 0px 10px 0px;
    display: block;
    background-color: #FFF;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    box-sizing: border-box;
    border: #ececec 1px solid;
}
.hide_table {
    
}

.responsive_table {
    display: none;
}

@media only screen and (max-width: 400px) { 
    .hide_table {
        display: none !important;
    }
    
    .table > * {
        font-size: 12px;
    }


    .responsive_table {
        display: block;
    }

    td > .responsive_table {
        vertical-align: top;
        border-top: 1px solid #dee2e6;
    }
    
    .dialog_header label {
        font-size: 16px;
    }
    
}





:root {
    // --primary_color: #cc2d72;
    --primary_color: #aeb7b2;
    // --sec_color:#db2a6f;
    --sec_color:#70a0b2;
}