.topic_header_item {
    font-size: 18px;
}

.topic_item {
    display: block;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    height: 25px;
}

.sub_topicfirst {
    font-size: 18px;
}

@media only screen and (max-width: 600px) { 
    .table_layout {
        overflow-y: auto;
    }
    
    // .body {
    //     width: 110vh
    // }
}

