        <div class="topic_header_item">
            <div class="topic_item">รอการอนุมัติ</div>
        </div>
<!-- <form [formGroup]="form"> -->
        <div class="table_layout">
                <div class="body">
                        <table class="table table-sm">
                            <thead>
                                <tr>
                                    <!-- <th class="text_center align_middle" style="width: 60px;">ลำดับ</th> -->
                                    <th class="text_center align_middle" style="width: 110px;">รหัสวิชา</th>
                                    <th class="text_left align_middle">ชื่อหลักสูตร EN</th>
                                    <th class="text_center align_middle" style="width: 70px;">หน่วยกิต</th>
                                    <th class="text_center align_middle" style="width: 90px;">กลุ่มทฤษฎี</th>
                                    <th class="text_center align_middle" style="width: 90px;">กลุ่มปฎิบัติ</th>
                                    <th class="text_center align_middle hide_table" style="width: 90px;">สถานะ</th>
                                    <th class="text_center align_middle hide_table" style="width: 90px;">ค่า Lecture <br> (บาท)</th>
                                    <th class="text_center align_middle hide_table" style="width: 90px;">ค่า Lab <br> (บาท)</th>
                                    <th class="text_center align_middle hide_table" style="width: 90px;">จำนวนเงิน <br> (บาท)</th>
                                    <th class="text_right align_middle"><img src="/assets/icons/doc.svg" alt=""></th>
                                </tr>
                            </thead>
                            <tbody *ngIf="subjects.length != 0">
                                <tr *ngFor="let subject of subjects ;let index = index" [ngStyle]="{'background-color': subject.status  == 'WAITING' ? 'rgba(255, 127, 80, 0.5)' : null}"> 
                                    <!-- <td class="text_center" >{{ index + 1}}</td> -->
                                    <td class="text_center">{{ subject.subjectCode }}</td>
                                    <td class="text_left">{{ subject.subjectNameTh }}</td>
                                    <td class="text_center">{{ subject.credit }}</td>
                                    <td class="text_center">{{  subject.selectedLectureGroup ? subject.selectedLectureGroup.sectionId :'-'}}</td>
                                    <td class="text_center">{{  subject.selectedLabGroup ? subject.selectedLabGroup.sectionId :'-'}}</td>
                                    <td class="text_center hide_table"><span class="rsu_badge">{{ subject.flag }}</span></td>
                                    <td class="text_center hide_table">{{ profileStudent.packageStatus ? 'n/a' : subject.lectureAmount | number  }}</td>
                                    <td class="text_center hide_table">{{ profileStudent.packageStatus ? 'n/a' : subject.labAmount | number  }}</td>
                                    <td class="text_center hide_table">{{ profileStudent.packageStatus ? 'n/a' : (subject.lectureAmount * subject.credit)  + subject.labAmount  | number }}</td>
                                    <!-- <td class="text_center"><span *ngIf="preCheck.isEligibleToEnroll" class="delete_icon" (click)="deleteSubject(subject)">x</span></td>                         -->
                                </tr>
                            </tbody>
                            <tbody *ngIf="subjects.length == 0">
                                    <tr >
                                        <td colspan="11" class="text_center"> ไม่มีวิชาที่ต้องรออนุมัติ</td>
                                    </tr>
                                </tbody>
                        </table>
                </div>
            </div>
            <!-- </form> -->